﻿<script src="/js/appweb/scripts_alerts.js"></script>

@if (ViewBag.Error != null)
{
    <script type="text/javascript">
        $(window).on('load', function () {
            errorMessage('@ViewBag.Error', '@(ViewBag.Title != null ? ViewBag.Title : "")');
        });
    </script>
}

@if (ViewBag.Success != null)
{
    <script type="text/javascript">
        $(window).on('load', function () {
            successMessage('@ViewBag.Success', '@(ViewBag.Title != null ? ViewBag.Title : "")');
        });
    </script>
}