﻿<!-- FOOTER -->
<footer id="footer">
    <!-- Visible when footer positions are fixed -->
    <div class="show-fixed pad-rgt pull-right">
        You have <a href="#" class="text-main"><span class="badge badge-danger">3</span> pending action.</a>
    </div>

    <!-- Visible when footer positions are static -->
    <div class="hide-fixed pull-right pad-rgt">
        14GB of <strong>512GB</strong> Free.
    </div>

    <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
    <p class="pad-lft">&#0169; 2018 Your Company</p>
</footer>
