﻿<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Escritório | @ViewBag.Title</title>

    @await Html.PartialAsync("_Styles")

</head>

<!--TIPS-->
<body>
    <div id="container" class="cls-container">

        @await Html.PartialAsync("_Alert")

        <!-- HEADER -->
        <div class="cls-header">
            <div class="cls-brand">
                <a class="box-inline" href="@Url.Action("Index","Home")">
                    <img alt="Nifty Admin" src="/img/logo.png" class="brand-icon">
                    <span class="brand-title">Nifty<span class="text-thin">Admin</span></span>
                </a>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="cls-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>

