﻿<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Escritório | @ViewBag.Title</title>

    @await Html.PartialAsync("_Styles")

    <link href="/lib/summernote/summernote.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet">

    <!--JAVASCRIPT-->
    <script src="/lib/summernote/summernote.min.js"></script>
    <script src="/lib/bootstrap-markdown/js/markdown.js"></script>
    <script src="/lib/bootstrap-markdown/js/to-markdown.js"></script>
    <script src="/lib/bootstrap-markdown/js/bootstrap-markdown.js"></script>
</head>
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">
        <!--ALERT-->
        @await Html.PartialAsync("_Alert");

        <!--NAVBAR-->
        @await Html.PartialAsync("_NavBar");

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <div id="content-container">

                <div id="page-head">
                    <!--Page Title-->
                    <div id="page-title">
                        <h1 class="page-header text-overflow">Expanded Navigation</h1>
                    </div>

                    <!--Breadcrumb-->
                    <ol class="breadcrumb">
                        <li><a style="cursor: pointer" onclick="location.href = '@Url.Action("Index", "Home")'"><i class="demo-pli-home"></i></a></li>
                        <li><a href="#">@ViewBag.Menu</a></li>
                        <li class="active">@ViewBag.Title</li>
                    </ol>
                </div>

                <!--Page content-->
                <div id="page-content">

                    @RenderBody();

                </div>
            </div>
            <!--MAIN NAVIGATION-->
            @await Html.PartialAsync("_MainNavigation");

            <!--ASIDE-->
            @await Html.PartialAsync("_Aside");

        </div>

        <!-- FOOTER -->
        @await Html.PartialAsync("_Footer");

        <!-- SCROLL PAGE BUTTON -->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>

    </div>
</body>
</html>