﻿<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Escritório | @ViewBag.Title</title>

    @await Html.PartialAsync("_Styles")

    <link href="/lib/animate-css/animate.min.css" rel="stylesheet">
    <link href="/lib/switchery/switchery.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.css" rel="stylesheet">
    <link href="/lib/chosen/chosen.min.css" rel="stylesheet">
    <link href="/lib/noUiSlider/nouislider.min.css" rel="stylesheet">

    <link href="/lib/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap-datetimepicker-master/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/lib/select2/css/select2.min.css" rel="stylesheet">

    <link href="/lib/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">

    <link href="/lib/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">

    <link href="/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/x-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="/lib/fooTable/css/footable.core.css" rel="stylesheet">


    <!--JAVASCRIPT-->
    <script src="/lib/switchery/switchery.min.js"></script>
    <script src="/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="/lib/chosen/chosen.jquery.min.js"></script>

    <script src="/lib/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js" charset="iso-8859-1"></script>

    <script src="/lib/bootstrap-timepicker/bootstrap-timepicker.min.js" charset="iso-8859-1"></script>
    <script src="/lib/bootstrap-datepicker/bootstrap-datepicker.min.js" charset="iso-8859-1"></script>

    @*<script src="/lib/noUiSlider/nouislider.js"></script>*@
    <script src="/lib/select2/js/select2.min.js"></script>

    <script src="/lib/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="/lib/masked-input/jquery.maskedinput.min.js"></script>
    <script src="/lib/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

    <script src="/lib/x-editable/js/bootstrap-editable.min.js"></script>
    <script src="/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/lib/bootstrap-table/extensions/editable/bootstrap-table-editable.js"></script>


    <script src="/lib/fooTable/dist/footable.all.min.js"></script>
    <script src="/lib/bootbox/bootbox.min.js"></script>
    <script src="/js/models/form-component.js"></script>
    <script src="/js/models/form-mask.js"></script>

    <script src="/js/appweb/functions.js"></script>

    <script src="/js/formatNumbers/jquery.price_format.2.0.min.js"></script>
    <script src="/js/formatNumbers/numeral/languages.min.js"></script>
    <script src="/js/formatNumbers/numeral/numeral.min.js"></script>
    <script src="/js/formatNumbers/numeral/languages.min.js"></script>
    <script type="text/javascript">numeral.language('pt-br');</script>

    @*<script src="/js/models/tables-bs-table.js"></script>
        <script src="/js/models/tables-datatables.js"></script>*@

    <script src="/js/models/tables-footable.js"></script>
</head>
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">
    <!--ALERT-->
    @await Html.PartialAsync("_Alert");

    <!--NAVBAR-->
    @await Html.PartialAsync("_NavBar");

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <div id="content-container">

            <div id="page-head">
                <!--Page Title-->
                <div id="page-title">
                    <h1 class="page-header text-overflow">Expanded Navigation</h1>
                </div>
                
                <!--Breadcrumb-->
                <ol class="breadcrumb">
                    <li><a style="cursor: pointer" onclick="location.href = '@Url.Action("Index", "Home")'"><i class="demo-pli-home"></i></a></li>
                    <li><a href="#">@ViewBag.Menu</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </div>

            <!--Page content-->
            <div id="page-content">
                    
                @RenderBody()

            </div>
        </div>
        <!--MAIN NAVIGATION-->
        @await Html.PartialAsync("_MainNavigation");

        <!--ASIDE-->
        @await Html.PartialAsync("_Aside");

    </div>
       
    <!-- FOOTER -->
    @await Html.PartialAsync("_Footer");

    <!-- SCROLL PAGE BUTTON -->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <style>
        .tab-content {
            overflow: hidden !important;
        }
    </style>
</div>
</body>
</html>