﻿<!--MAIN NAVIGATION-->
<nav id="mainnav-container">
    <div id="mainnav">
      
        <!--Menu-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <!--Profile Widget-->
                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap text-center">
                            <div class="pad-btm">
                                <img class="img-circle img-md" src="/img/profile-photos/1.png" alt="Profile Picture">
                            </div>
                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                <span class="pull-right dropdown-toggle">
                                    <i class="dropdown-caret"></i>
                                </span>
                                @*@{
                                    var nomeCompleto = User.Identity.Name.Split('@')[0];

                                    if (nomeCompleto.Contains("."))
                                    {
                                        var posicaoletraAposPonto = nomeCompleto.IndexOf('.') + 1;

                                        nomeCompleto = nomeCompleto.ToUpper().Substring(0, 1) + nomeCompleto.Replace('.', ' ').ToLower().Replace(nomeCompleto[posicaoletraAposPonto].ToString(), nomeCompleto[posicaoletraAposPonto].ToString().ToUpper()).Substring(1);
                                    }
                                    else
                                    {
                                        nomeCompleto = nomeCompleto.ToUpper().Substring(0, 1) + nomeCompleto.ToLower().Substring(1);
                                    }
                                    <p class="mnp-name">@nomeCompleto</p>
                                    <span class="mnp-desc">@User.Identity.Name</span>
                                }*@
                            </a>
                        </div>
                        <div id="profile-nav" class="collapse list-group bg-trans">
                            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a style="cursor: pointer" href="javascript:document.getElementById('logoutForm').submit();" class="list-group-item">
                                    <i class="pli-unlock icon-lg icon-fw"></i> Logout
                                </a>
                            }
                        </div>
                    </div>


                    


                </div>
            </div>
        </div>

    </div>
</nav>
