﻿<div class="form-group">
    <input id="search" name="search" type="text" placeholder="Pesquisar" class="form-control" autocomplete="off" value="@(TempData.Peek("search") != null ? TempData.Peek("search").ToString() : "")">
</div>

