﻿<div class="row">
    <div class="col-sm-9 text-xs-center">
        <div class="form-group">
            <label class="form-inline">
                Exibir
                <select id="show-entries" class="form-control input-sm">
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                registros
            </label>
        </div>
    </div>
    @if (ViewBag.Pesquisa)
    {
        <div class="col-sm-3 text-xs-center text-right">
            <form asp-action="Index" method="get">
                @await Html.PartialAsync("_Search")
            </form>
        </div>
    }
</div>