﻿<!--STYLESHEET-->
@*<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">*@

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/nifty.min.css" rel="stylesheet">
<link href="/premium/icon-sets/icons/line-icons/premium-line-icons.min.css" rel="stylesheet">
<link href="/premium/icon-sets/icons/solid-icons/premium-solid-icons.min.css" rel="stylesheet">
<link href="/css/pace.min.css" rel="stylesheet">
<script src="/js/pace.min.js"></script>

<!--THEME-->
<link id="theme" href="/css/themes/type-full/theme-light-full.min.css" rel="stylesheet">

<!--JAVASCRIPT-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/nifty.min.js"></script>
<script src="/js/site.js"></script>
