﻿<script src="/js/appweb/scripts_processos.js"></script>

@using Newtonsoft.Json
@model List<Infovia.Escritorio.Processo.Application.ImpostosRetidos.ImpostoRetidoViewModel>
@{
    ViewBag.Title = "Imposto Retido";
    ViewBag.Menu = "Processos";
    ViewBag.Pesquisa = false;
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-body">
                <!--PESQUISA-->
                <div class="row">
                    <div class="col-sm-6 text-xs-center">
                        <div class="form-group">
                            <button data-toggle="modal" class="btn btn-primary" onclick="modalImpostoRetido(null);">Adicionar</button>
                        </div>
                    </div>
                </div>


                @await Html.PartialAsync("_ShowEntries")

                <table id="foo-pagination" class="table toggle-arrow-tiny" data-page-size="20">
                    <thead>
                        <tr>
                            <!--CABEÇALHO-->
                            <th>Imposto IRRF</th>
                            <th>Variação Imposto IRRF</th>
                            <th>Data IRRF</th>
                            <th>CFOP</th>
                            <th>Imposto Pis Cofins Csll</th>
                            <th>Variação Imposto Pis Cofins</th>
                            <th>Data Pis Confins</th>
                            <th>CFOP Pis Cofins Csll</th>
                            <th class="text-right">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <!--REGISTROS-->
                            <tr>
                                <td>@item.CodigoImpostoIrrf</td>
                                <td>@item.VariacaoImpostoIrrf</td>
                                <td>@item.DataIrrf</td>
                                <td>@item.CodigoCfopIrrf</td>
                                <td>@item.CodigoImpostoPisCofinsCsll</td>
                                <td>@item.VariacaoImpostoPisCofinsCsll</td>
                                <td>@item.DataPisCofinsCsll</td>
                                <td>@item.CodigoCfopPisCofinsCsll</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-default btn-hover-success demo-icon fa fa-pencil add-tooltip" onclick="modalImpostoRetido('@(JsonConvert.SerializeObject(item))'); " data-original-title="Editar" data-container="body"></a>
                                        <a class="btn btn-sm btn-default btn-hover-danger demo-icon fa fa-trash add-tooltip" data-request-url="@Url.Action("Delete", new {item.Id})" id="deleteItem-@item.Id" onclick="deleteItem('@item.Id', 'imposto retido', '@item.CodigoImpostoIrrf'); " data-original-title="Excluir" data-container="body"></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                <div class="text-right">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="impostoretido-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">

            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 id="tituloImpostoRetido" class="modal-title"></h4>
            </div>

            <div class="modal-body">
                <fieldset class="form-horizontal">

                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Código Imposto Irrf</label>
                        <div class="col-lg-9">
                            <input type="text" id="codigoImpostoIrrf" name="codigoImpostoIrrf" class="form-control" placeholder="Código Imposto Irrf" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Variação Imposto Irrf</label>
                        <div class="col-lg-9">
                            <input type="text" id="variacaoImpostoIrrf" name="variacaoImpostoIrrf" class="form-control" placeholder="Variação Imposto Irrf" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Data Irrf</label>
                        <div class="col-lg-9">
                            <select id="dataIrrf" class="selectpicker form-control" placeholder="Data Irrf" asp-items="Html.GetEnumSelectList<EDataRetido>()">
                                <option selected="selected" value="">Selecione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Código CFOP Irrf</label>
                        <div class="col-lg-9">
                            <input type="text" id="codigoCfopIrrf" name="codigoCfopIrrf" class="form-control" placeholder="Código Cfop Irrf" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Código Imposto Pis Cofins Csll</label>
                        <div class="col-lg-9">
                            <input type="text" id="codigoImpostoPisCofinsCsll" name="codigoImpostoPisCofinsCsll" class="form-control" placeholder="Código Imposto Pis Cofins Csll" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Variação Imposto Pis Cofins Csll</label>
                        <div class="col-lg-9">
                            <input type="text" id="variacaoImpostoPisCofinsCsll" name="variacaoImpostoPisCofinsCsll" class="form-control" placeholder="Variação Imposto Pis Cofins Csll" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Data Pis Cofins Csll</label>
                        <div class="col-lg-9">
                            <select id="dataPisCofinsCsll" class="selectpicker form-control" placeholder="Data Pis Cofins Csll" asp-items="Html.GetEnumSelectList<EDataRetido>()">
                                <option selected="selected" value="">Selecione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Código Cfop Pis Cofins Csll</label>
                        <div class="col-lg-9">
                            <input type="text" id="codigoCfopPisCofinsCsll" name="codigoCfopPisCofinsCsll" class="form-control" placeholder="Código Cfop Pis Cofins Csll" />
                        </div>
                    </div>

                </fieldset>

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                <button class="btn btn-primary" onclick="addImpostoRetido();">Salvar</button>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="urlAddImpostoRetido" value="@Url.Action("Add")" />
<input type="hidden" id="urlEditImpostoRetido" value="@Url.Action("Edit")" />
<input type="hidden" id="urlIndexImpostoRetido" value="@Url.Action("Index")" />

<script type="text/javascript">

var idImpostoRetido = "";
function modalImpostoRetido(objeto) {
    if (objeto !== null) {
        const impostoRetido = JSON.parse(objeto);
        idImpostoRetido = impostoRetido.Id;
        $("#codigoImpostoIrrf").val(impostoRetido.CodigoImpostoIrrf);
        $("#variacaoImpostoIrrf").val(impostoRetido.VariacaoImpostoIrrf);
        $("#dataIrrf").val(impostoRetido.DataIrrf).selectpicker("refresh");
        $("#codigoCfopIrrf").val(impostoRetido.CodigoCfopIrrf);
        $("#codigoImpostoPisCofinsCsll").val(impostoRetido.CodigoImpostoPisCofinsCsll);
        $("#variacaoImpostoPisCofinsCsll").val(impostoRetido.VariacaoImpostoPisCofinsCsll);
        $("#dataPisCofinsCsll").val(impostoRetido.DataPisCofinsCsll).selectpicker("refresh");
        $("#codigoCfopPisCofinsCsll").val(impostoRetido.CodigoCfopPisCofinsCsll);
    }

    $("#impostoretido-modal").modal("show");
    mensagemTitulo(idImpostoRetido, "tituloImpostoRetido", "Imposto Retido");
}

function addImpostoRetido() {
    var url = $("#urlAddImpostoRetido").val();
    var urlIndex = $("#urlIndexImpostoRetido").val();

    const codigoImpostoIrrf = $("#codigoImpostoIrrf").val();
    const variacaoImpostoIrrf = $("#variacaoImpostoIrrf").val();
    const dataIrrf = $("#dataIrrf").val();
    const codigoCfopIrrf = $("#codigoCfopIrrf").val();
    const codigoImpostoPisCofinsCsll = $("#codigoImpostoPisCofinsCsll").val();
    const variacaoImpostoPisCofinsCsll = $("#variacaoImpostoPisCofinsCsll").val();
    const dataPisCofinsCsll = $("#dataPisCofinsCsll").val();
    const codigoCfopPisCofinsCsll = $("#codigoCfopPisCofinsCsll").val();
   

    var impostoRetido = {
        CodigoImpostoIrrf: codigoImpostoIrrf, VariacaoImpostoIrrf: variacaoImpostoIrrf, DataIrrf: dataIrrf, CodigoCfopIrrf: codigoCfopIrrf,
        CodigoImpostoPisCofinsCsll: codigoImpostoPisCofinsCsll, VariacaoImpostoPisCofinsCsll: variacaoImpostoPisCofinsCsll, DataPisCofinsCsll: dataPisCofinsCsll, CodigoCfopPisCofinsCsll: codigoCfopPisCofinsCsll
    };
    var mensagem = "Adicionado!";
    if (idImpostoRetido !== "") {
        url = $("#urlEditImpostoRetido").val();
        impostoRetido = {
            Id: idImpostoRetido, CodigoImpostoIrrf: codigoImpostoIrrf, VariacaoImpostoIrrf: variacaoImpostoIrrf, DataIrrf: dataIrrf, CodigoCfopIrrf: codigoCfopIrrf,
            CodigoImpostoPisCofinsCsll: codigoImpostoPisCofinsCsll, VariacaoImpostoPisCofinsCsll: variacaoImpostoPisCofinsCsll, DataPisCofinsCsll: dataPisCofinsCsll, CodigoCfopPisCofinsCsll: codigoCfopPisCofinsCsll
        };
        mensagem = "Atualizado!";
    }
    idImpostoRetido = "";

    $.ajax({
        url: url,
        data: impostoRetido,
        dataType: "json",
        type: "post",
        success: function (result) {
            console.log(result);
            if (result) {
                window.location = urlIndex + "?success=" + mensagem;
            } else {
                window.location = urlIndex + "?error=Registro inválido!";
            }
        }
    });
}
</script>


