﻿@using Newtonsoft.Json
@model IEnumerable<Infovia.Escritorio.Processo.Application.ProcessosPersonalizados.ProcessoPersonalizadoViewModel>
@{
    ViewBag.Title = "Processos Personalizados";
    ViewBag.Menu = "Configuração";
    ViewBag.Pesquisa = false;
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-body">
                <!--PESQUISA-->
                <div class="row">
                    <div class="col-sm-6 text-xs-center">
                        <div class="form-group">
                            <button data-toggle="modal" class="btn btn-primary" onclick="modalProcPersonalizado(null);">Adicionar</button>
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("_ShowEntries")

                <table id="foo-pagination" class="table toggle-arrow-tiny" data-page-size="20">
                    <thead>
                        <tr>
                            <!--CABEÇALHO-->
                            <th>Processo</th>
                            @*<th>Departamento</th>*@
                            <th>Empresas</th>
                            <th>Ativo</th>
                            <th class="text-right">Ação</th>
                            <th data-hide="all">Nome do Processo</th>
                            <th data-hide="all">Parâmetros</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <!--REGISTROS-->
                            <tr>
                                <td>@item.Nome</td>
                                @*<td>

                                    @switch (item.Departamento)
                                    {
                                        case EProcessoDepartamento.Fiscal:
                                            <span class="label label-table label-success">Fiscal</span>
                                            break;
                                        case EProcessoDepartamento.Contabil:
                                            <span class="label label-table label-danger">Contábil</span>
                                            break;
                                        case EProcessoDepartamento.Folha:
                                            <span class="label label-table label-warning">Folha</span>
                                            break;
                                        case EProcessoDepartamento.Inventario:
                                            <span class="label label-table label-info">Inventário</span>
                                            break;
                                        case EProcessoDepartamento.Patrimonial:
                                            <span class="label label-table label-primary">Patrimonial</span>
                                            break;
                                    }
                                </td>*@
                                <td>@item.Empresas</td>
                                <td><a onclick="location.href = '@Url.Action("Ativar", new {id = item.Id})' "><span class="label label-table label-@(item.Ativo ? "success" : "dark")">@(item.Ativo ? "Ativo" : "Inativo")</span></a></td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-default btn-hover-success demo-icon fa fa-pencil add-tooltip" onclick="modalProcPersonalizado('@(JsonConvert.SerializeObject(item))');" data-original-title="Editar" data-container="body"></a>
                                        <a class="btn btn-sm btn-default btn-hover-danger demo-icon fa fa-trash add-tooltip" data-request-url="@Url.Action("Delete", new {item.Id})" id="deleteItem-@item.Id" onclick="deleteItem('@item.Id', 'processo personalizado', '@item.Nome'); " data-original-title="Excluir" data-container="body"></a>
                                    </div>
                                </td>
                                <td>@item.NomeProcesso</td>
                                <td>@item.Parametros</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <div class="text-right">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="procpersonalizado-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">

            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 id="tituloProcPersonalizado" class="modal-title"></h4>
            </div>

            <div class="modal-body">
                <fieldset class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Nome</label>
                        <div class="col-lg-9">
                            <input id="nome" type="text" class="form-control" placeholder="Nome do Processo" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Descrição</label>
                        <div class="col-lg-9">
                            <textarea id="descricao" class="form-control" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Departamento</label>
                        <div class="col-lg-9">
                            <select id="departamento" class="selectpicker form-control" placeholder="Departamento" asp-items="Html.GetEnumSelectList<EProcessoDepartamento>()">
                                <option selected="selected" value="">Selecione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <a href="#popover" class="btn-link add-popover" data-original-title="Parâmetros" data-content="0:Date, 1:Text, 2:Number, 3:Estab, 4:Enum, 5:TXT 6:XML 7:Excel 8:Word, 9:PDF" data-placement="top" data-trigger="focus" data-toggle="popover">
                            <label class="col-lg-2 control-label text-semibold">Parâmetros</label>
                        </a>
                        <div class="col-lg-9">
                            <input id="parametros" type="text" class="form-control" placeholder="Ex: Codigo:2;Periodo:0;Tipo:4[Saida,Entrada,Ambos]" />
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label text-semibold">Processo</label>
                        <div class="col-lg-9">
                            <input id="nomeprocesso" type="text" class="form-control" placeholder="Nome do processo para execução" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Empresas</label>
                        <div class="col-lg-9">
                            <input id="empresas" type="text" class="form-control" placeholder="Empresas" />
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                <button class="btn btn-primary" onclick="addProcPersonalizado();">Salvar</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="urlAddProcPersonalizado" value="@Url.Action("Add")" />
<input type="hidden" id="urlEditProcPersonalizado" value="@Url.Action("Edit")" />
<input type="hidden" id="urlIndexProcPersonalizado" value="@Url.Action("Index")" />


<script type="text/javascript">

var idProcesso = "";
var processoAtivo = false;
function modalProcPersonalizado(objeto) {
    if (objeto !== null) {
        const processo = JSON.parse(objeto);
        idProcesso = processo.Id;
        processoAtivo = processo.Ativo;
        $("#nome").val(processo.Nome);
        $("#empresas").val(processo.Empresas);
        $("#departamento").val(processo.Departamento).selectpicker("refresh");
        $("#nomeprocesso").val(processo.NomeProcesso);
        $("#parametros").val(processo.Parametros);
        $("#descricao").val(processo.Descricao);
    }

    $("#procpersonalizado-modal").modal("show");
    mensagemTitulo(idProcesso, "tituloProcPersonalizado", "Processo Personalizado");
}

function addProcPersonalizado() {
    var url = $("#urlAddProcPersonalizado").val();
    var urlIndex = $("#urlIndexProcPersonalizado").val();

    const nome = $("#nome").val();
    const empresas = $("#empresas").val();
    const departamento = $("#departamento").val();
    const nomeprocesso = $("#nomeprocesso").val();
    const parametros = $("#parametros").val();
    const descricao = $("#descricao").val();
    const resultado = $("#resultado").val();

    var processo = { Nome: nome, Departamento: departamento, Empresas: empresas, NomeProcesso: nomeprocesso, Parametros: parametros, Resultado: resultado, Ativo: true, Descricao: descricao };
    var mensagem = "Adicionado!";
    if (idProcesso !== "") {
        url = $("#urlEditProcPersonalizado").val();
        processo = { Id: idProcesso, Nome: nome, Departamento: departamento, Empresas: empresas, NomeProcesso: nomeprocesso, Parametros: parametros, Resultado: resultado, Ativo: processoAtivo, Descricao: descricao };
        mensagem = "Atualizado!";
    }
    idProcesso = "";
    
    $.ajax({
        url: url,
        data: processo,
        dataType: "json",
        type: "post",
        success: function (result) {
            console.log(result);
            if (result) {
                window.location = urlIndex + "?success=" + mensagem;
            } else {
                window.location = urlIndex + "?error=Registro inválido!";
            }
        }
    });
}

</script>