﻿@using Infovia.Escritorio.Questor.Models
@using Infovia.Escritorio.SQL.Enums
@using Newtonsoft.Json
@model IEnumerable<Infovia.Escritorio.SQL.Application.Comandos.ComandoViewModel>
@{
    ViewBag.Title = "Comandos SQL";
    ViewBag.Menu = "Ferramentas";
    ViewBag.Pesquisa = true;
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-body">
                <!--PESQUISA-->
                <div class="row">
                    <div class="col-sm-6 text-xs-center">
                        <div class="form-group">
                            <button data-toggle="modal" class="btn btn-primary" onclick="modalComando(null);">Adicionar</button>
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("_ShowEntries")

                <table id="foo-pagination" class="table toggle-arrow-tiny" data-page-size="20">
                    <thead>
                        <tr>
                            <!--CABEÇALHO-->
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Tipo</th>
                            <th>Movimento</th>
                            <th>Departamento</th>
                            <th>Ativo</th>
                            <th class="text-right">Ação</th>
                            <th data-hide="all">Comando</th>
                            <th data-hide="all">Parâmetros</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <!--REGISTROS-->
                            <tr>
                                <td>@item.Codigo</td>
                                <td>@item.Descricao</td>
                                <td>
                                    @switch (item.TipoSql)
                                    {
                                        case ESql.Execução:
                                            <span class="label label-table label-info">Execução</span>
                                            break;
                                        case ESql.Consulta:
                                            <span class="label label-table label-success">Consulta</span>
                                            break;
                                        case ESql.Script:
                                            <span class="label label-table label-warning">Script</span>
                                            break;
                                        case ESql.RotinaEmpresa:
                                            <span class="label label-table label-purple">Rotina</span>
                                            break;
                                    }
                                </td>
                                <td>
                                    @switch (item.TipoMovimento)
                                    {
                                        case EMovimento.Geral:
                                            <span class="label label-table label-info">Geral</span>
                                            break;
                                        case EMovimento.Entrada:
                                            <span class="label label-table label-warning">Entrada</span>
                                            break;
                                        case EMovimento.Saída:
                                            <span class="label label-table label-success">Saída</span>
                                            break;
                                        case EMovimento.Apuração:
                                            <span class="label label-table label-purple">Apuração</span>
                                            break;
                                        case EMovimento.Configuração:
                                            <span class="label label-table label-danger">Configuração</span>
                                            break;
                                    }
                                </td>
                                <td>@item.DescricaoDepartamento</td>
                                <td><a onclick="location.href = '@Url.Action("Ativar", new {id = item.Id})' "><span class="label label-table label-@(item.Ativo ? "success" : "dark")">@(item.Ativo ? "Ativo" : "Inativo")</span></a></td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        @if (item.TipoSql == ESql.RotinaEmpresa)
                                        {
                                            <a class="btn btn-sm btn-default btn-hover-info demo-icon fa fa-asterisk add-tooltip" onclick="modalEmpresas('@item.Id', '@item.Descricao', '@item.Codigo'); " data-original-title="Empresas que Executam" data-container="body"></a>
                                        }
                                        <a class="btn btn-sm btn-default btn-hover-success demo-icon fa fa-pencil add-tooltip" onclick="modalComando('@(JsonConvert.SerializeObject(item))');" data-original-title="Editar" data-container="body"></a>
                                        <a class="btn btn-sm btn-default btn-hover-danger demo-icon fa fa-trash add-tooltip" data-request-url="@Url.Action("Delete", new {item.Id})" id="deleteItem-@item.Id" onclick="deleteItem('@item.Id', 'comando sql', '@item.Descricao'); " data-original-title="Excluir" data-container="body"></a>
                                    </div>
                                </td>
                                <td>@item.Sql</td>
                                <td>@item.Parametro</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <div class="text-right">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="comando-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 id="tituloComando" class="modal-title"></h4>
            </div>

            <div class="modal-body">
                <fieldset class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Descrição</label>
                        <div class="col-lg-7">
                            <input id="descricao" type="text" class="form-control" placeholder="Descrição do comando" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Comando SQL</label>
                        <div class="col-lg-7">
                            <textarea id="sql" placeholder="Comando SQL" rows="15" class="form-control" style="text-transform: uppercase;" onblur="pegaparametros(); verificaTipoSql();"></textarea>
                            <small data-bv-for="Sql" class="text-primary">Inclua cada parâmetro utilizando o @@ na frente do nome do campo. <br />Exemplo: SELECT * FROM EMPRESA WHERE CODIGOEMPRESA = @@CODIGOEMPRESA</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Parâmetros</label>
                        <div class="col-lg-7">
                            <input id="parametro" type="text" class="form-control" placeholder="Parâmetros do comando" readonly="readonly" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Tipo</label>
                        <div class="col-lg-7">
                            <select id="tiposql" class="selectpicker form-control" placeholder="Tipo do SQL" asp-items="Html.GetEnumSelectList<ESql>()">
                                <option selected="selected" value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Movimento</label>
                        <div class="col-lg-7">
                            <select id="tipomovimento" class="selectpicker form-control" placeholder="Movimento" asp-items="@Html.GetEnumSelectList(typeof(EMovimento))">
                                <option selected="selected" value="">Selecione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Departamento</label>
                        <div class="col-lg-7">
                            <select id="departamento" class="selectpicker form-control" placeholder="Departamento">
                                <option selected="selected" value="">Selecione</option>
                                @foreach (var item in (IList<DepartamentoQuestor>)ViewBag.Departamentos)
                                {
                                    <option value="@item.CodigoDepartamento">@item.DescricaoDepartamento</option>
                                }
                            </select>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                <button class="btn btn-success" onclick="addComando();">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="grupousuario-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 id="tituloGrupoUsuario" class="modal-title">GrupoUsuario</h4>
            </div>

            <div class="modal-body">
                <fieldset class="form-horizontal">
                </fieldset>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                <button class="btn btn-primary" onclick="saveGrupoUsuario();">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="comandoEmpresas-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 id="tituloComandoEmpresa" class="modal-title">Comando das Empresas</h4>
            </div>

            <div class="modal-body">
                <fieldset class="form-horizontal">

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Comando</label>
                        <div class="col-lg-7">
                            <input id="textoComando" class="form-control" placeholder="Descrição do Comando" type="text" readonly="readonly" />
                            <small class="text-info">O comando será adicionado ao final da fila de execução.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Empresa</label>
                        <div class="col-lg-7">
                            <select class="form-control" placeholder="Empresa" id="chosen-select" name="empresaId">
                                <option selected="selected" value="">Selecione</option>
                                @foreach (var item in (IEnumerable<EmpresaQuestor>)ViewBag.Empresas)
                                {
                                    <option value="@item.CodigoEmpresa">@($"{item.NomeEmpresa} - {item.CodigoEmpresa}")</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Ordem</label>
                        <div class="col-lg-7">
                            <input id="ordemExecucao" class="form-control" placeholder="Ordem de execução" type="text" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-7">
                            <button class="btn btn-info" onclick="addEmpresaComando();">Adicionar</button>
                        </div>
                    </div>

                </fieldset>

                <table id="comandoEmpresasTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Empresa</th>
                            <th>Ordem</th>
                            <th class="text-right">Ação</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                <button class="btn btn-primary" onclick="saveComandoEmpresas();">Salvar</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="urlAddComandoEmpresas" value="@Url.Action("AddComandoEmpresas")" />
<input type="hidden" id="urlIndexComando" value="@Url.Action("Index")" />
<input type="hidden" id="urlDadosComandoEmpresas" value="@Url.Action("GetComandoEmpresas")" />
<input type="hidden" id="urlAddComando" value="@Url.Action("Add")" />
<input type="hidden" id="urlEditComando" value="@Url.Action("Edit")" />

<script type="text/javascript">
    var idComando = "";
    var codigoComando = "";
    var ativoComando = false;
    function modalComando(objeto) {
        if (objeto !== null) {
            const comando = JSON.parse(objeto);
            idComando = comando.Id;
            codigoComando = comando.Codigo;
            ativoComando = comando.Ativo;
            $("#descricao").val(comando.Descricao);
            $("#sql").val(comando.Sql);
            $("#parametro").val(comando.Parametro);
            $("#tiposql").val(comando.TipoSql).selectpicker("refresh");
            $("#tipomovimento").val(comando.TipoMovimento).selectpicker("refresh");
            $("#departamento").val(comando.Departamento).selectpicker("refresh");
        }

        $("#comando-modal").modal("show");
        mensagemTitulo(idComando, "tituloComando", "Comando SQL");
    }

    function addComando() {
        var url = $("#urlAddComando").val();
        var urlIndex = $("#urlIndexComando").val();

        const descricao = $("#descricao").val();
        const sql = $("#sql").val();
        const parametro = $("#parametro").val();
        const tiposql = $("#tiposql").val();
        const tipomovimento = $("#tipomovimento").val();
        const departamento = $("#departamento").val();

        var comando = { Descricao: descricao, Sql: sql, Parametro: parametro, TipoSql: tiposql, TipoMovimento: tipomovimento, Departamento: departamento };
        var mensagem = "Adicionado!";
        if (idComando !== "") {
            url = $("#urlEditComando").val();
            comando = { Id: idComando, Codigo: codigoComando, Descricao: descricao, Sql: sql, Parametro: parametro, TipoSql: tiposql, TipoMovimento: tipomovimento, Departamento: departamento, Ativo: ativoComando };
            mensagem = "Atualizado!";
        }
        idComando = "";
        $.ajax({
            url: url,
            data: comando,
            dataType: "json",
            type: "post",
            success: function (result) {
                if (result) {
                    window.location = urlIndex + "?success=" + mensagem;
                } else {
                    window.location = urlIndex + "?error=Registro inválido!";
                }
            }
        });
    }
</script>