﻿@using Infovia.Escritorio.Questor.Models
@using Newtonsoft.Json
@model List<Infovia.Escritorio.Processo.Application.PlanosReferencia.PlanoReferenciaViewModel>
    @{
    ViewBag.Title = "Plano de Contas";
    ViewBag.Menu = "Configuração";
    ViewBag.Pesquisa = false;
    }


    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body">
                    <!--PESQUISA-->
                    <div class="row">
                        <div class="col-sm-6 text-xs-center">
                            <form id="" asp-action="Index" method="post">
                                <div class="form-group">
                                    <label class="col-lg-1 control-label text-semibold text-center">Empresa</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" placeholder="Empresa" id="chosen-select" name="codigo">
                                            <option selected="selected" value="">Selecione</option>
                                            @foreach (var item in (IEnumerable<EmpresaQuestor>)ViewBag.Empresas)
                                        {
                                            if (ViewBag.Codigo != null && ViewBag.Codigo == item.CodigoEmpresa)
                                            {
                                            <option value="@item.CodigoEmpresa" selected="selected">@($"{item.NomeEmpresa} - {item.CodigoEmpresa}")</option>
                                            }
                                            else
                                            {
                                            <option value="@item.CodigoEmpresa">@($"{item.NomeEmpresa} - {item.CodigoEmpresa}")</option>
                                            }

                                        }
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <button class="btn btn-dark" type="submit">Filtrar</button>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <button data-toggle="modal" class="btn btn-primary" onclick="modalPlanoReferencia(null);">Adicionar</button>
                            </div>
                        </div>
                    </div>

                    @await Html.PartialAsync("_ShowEntries")

                    <table id="foo-pagination" class="table toggle-arrow-tiny" data-page-size="20">
                        <thead>
                            <tr>
                                <!--CABEÇALHO-->
                                <th>Conta</th>
                                <th>Descrição</th>
                                <th>Referência</th>
                                <th class="text-right">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                        {
                            <!--REGISTROS-->
                            <tr>
                                <td>@item.CodigoConta</td>
                                <td>@item.DescricaoConta</td>
                                <td>@item.ContaReferencia</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-default btn-hover-success demo-icon fa fa-pencil add-tooltip" onclick="modalPlanoReferencia('@(JsonConvert.SerializeObject(item))');" data-original-title="Editar" data-container="body"></a>
                                        <a class="btn btn-sm btn-default btn-hover-danger demo-icon fa fa-trash add-tooltip" data-request-url="@Url.Action("Delete", new {item.Id, codigo = item.CodigoEmpresa})" id="deleteItem-@item.Id" onclick="deleteItem('@item.Id', 'conta referência', '@item.DescricaoConta'); " data-original-title="Excluir" data-container="body"></a>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div class="text-right">
                                        <ul class="pagination"></ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="planorefer-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 id="tituloPlanoRefer" class="modal-title"></h4>
                </div>

                <div class="modal-body">
                    <fieldset class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label text-semibold">Conta</label>
                            <div class="col-lg-9">
                                <select class="form-control" placeholder="Conta contábil" id="chosen-select1">
                                    <option selected="selected" value="">Selecione</option>
                                    @foreach (var item in (IEnumerable<PlanoEspecificoQuestor>)ViewBag.PlanoEspec)
                                {
                                    if (item.Ativo && item.TipoConta == 2)
                                    {
                                    <option value="@item.CodigoConta">@($"{item.Classificacao} - {item.CodigoConta} - {item.DescricaoConta}")</option>
                                    }
                                    else
                                    {
                                    <option disabled value="@item.CodigoConta">@($"{item.Classificacao} - {item.CodigoConta} - {item.DescricaoConta}")</option>
                                    }

                                }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Referência</label>
                            <div class="col-lg-9">
                                <input id="referencia" type="text" class="form-control" placeholder="Código referência" />
                            </div>
                        </div>

                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                    <button class="btn btn-primary" onclick="addPlanoReferencia();">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="urlAddPlanoRefer" value="@Url.Action("Add")" />
    <input type="hidden" id="urlEditPlanoRefer" value="@Url.Action("Edit")" />
<input type="hidden" id="urlIndexPlanoRefer" value="@Url.Action("Index")" />


<script type="text/javascript">
    var idConta = "";
    var empConta = "";
    function modalPlanoReferencia(objeto) {
        const empresa = $("#chosen-select").val();

        if (empresa !== "") {
            if (objeto !== null) {
                const conta = JSON.parse(objeto);
                idConta = conta.Id;
                empConta = conta.CodigoEmpresa;
                $("#chosen-select1").val(conta.CodigoConta).trigger("chosen:updated");
                $("#chosen-select1 option:selected").prop('disabled', false).trigger("chosen:updated");
                $("#referencia").val(conta.ContaReferencia);
            }

            $("#planorefer-modal").modal("show");
            mensagemTitulo(idConta, "tituloPlanoRefer", "Conta Contábil");
        }
    }

    function addPlanoReferencia() {
        var url = $("#urlAddPlanoRefer").val();
        var urlIndex = $("#urlIndexPlanoRefer").val();

        const empresa = $("#chosen-select").val();
        const codigo = $("#chosen-select1").val();
        const descricao = $("#chosen-select1 option:selected").text();
        const referencia = $("#referencia").val();

        var conta = { CodigoEmpresa: empresa, CodigoConta: codigo, DescricaoConta: descricao, ContaReferencia: referencia };
        var mensagem = "Adicionado!";
        if (idConta !== "") {
            url = $("#urlEditPlanoRefer").val();
            conta = { Id: idConta, CodigoEmpresa: empresa, CodigoConta: codigo, DescricaoConta: descricao, ContaReferencia: referencia };
            mensagem = "Atualizado!";
        }
        idConta = "";

        $.ajax({
            url: url,
            data: conta,
            dataType: "json",
            type: "post",
            success: function (result) {
                if (result) {
                    window.location = urlIndex + "?success=" + mensagem + "&codigo=" + empresa;
                } else {
                    window.location = urlIndex + "?error=Registro inválido!";
                }
            }
        });
    }

</script>
