﻿@using Newtonsoft.Json
@model IEnumerable<Infovia.Escritorio.SQL.Application.BancosQuestor.BancoQuestorViewModel>
@{
    ViewBag.Title = "Bancos de Dados Questor";
    ViewBag.Menu = "Configuração";
    ViewBag.Pesquisa = false;
}

<script src="/js/appweb/scripts_sql.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-body">
                <!--PESQUISA-->
                <div class="row">
                    <div class="col-sm-6 text-xs-center">
                        <div class="form-group">
                            <button data-toggle="modal" class="btn btn-primary" onclick="modalBancoQuestor(null);">Adicionar</button>
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("_ShowEntries")

                <table id="foo-pagination" class="table toggle-arrow-tiny" data-page-size="20">
                    <thead>
                        <tr>
                            <!--CABEÇALHO-->
                            <th>Configuração</th>
                            <th class="text-right">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <!--REGISTROS-->
                            <tr>
                                @if (item.Padrao)
                                {
                                    <td><b>@($"{item.Endereco}:{item.Caminho}")</b></td>
                                }
                                else
                                {
                                    <td>@($"{item.Endereco}:{item.Caminho}")</td>
                                }
                                <td class="text-right">
                                    <div class="btn-group">
                                        @if (!item.Padrao)
                                        {
                                            <a class="btn btn-sm btn-default btn-hover-info demo-icon fa fa-check-square-o add-tooltip" data-toggle="tooltip" onclick="location.href='@Url.Action("Padrao", new {id = item.Id })' " data-original-title="Definir Padrão" data-container="body"></a>
                                        }
                                        <a class="btn btn-sm btn-default btn-hover-purple demo-icon fa fa-database add-tooltip" onclick="location.href='@Url.Action("Teste", new {id = item.Id })' " data-original-title="Testar Conexão" data-container="body"></a>
                                        <a class="btn btn-sm btn-default btn-hover-success demo-icon fa fa-pencil add-tooltip" onclick="modalBancoQuestor('@(JsonConvert.SerializeObject(item))');" data-original-title="Editar" data-container="body"></a>
                                        <a class="btn btn-sm btn-default btn-hover-danger demo-icon fa fa-trash add-tooltip" data-request-url="@Url.Action("Delete", new {item.Id})" id="deleteItem-@item.Id" onclick="deleteItem('@item.Id', 'configuração de banco', '@item.Endereco' + ':' + '@item.Caminho'); " data-original-title="Excluir" data-container="body"></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <div class="text-right">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bancoquestor-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 id="tituloBancoQuestor" class="modal-title"></h4>
            </div>

            <div class="modal-body">
                <fieldset class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Endereço</label>
                        <div class="col-lg-7">
                            <input id="endereco" type="text" class="form-control" placeholder="Endereço IP" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Caminho</label>
                        <div class="col-lg-7">
                            <input id="caminho" type="text" class="form-control" placeholder="Caminho arquivo FDB" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Porta</label>
                        <div class="col-lg-7">
                            <input id="porta" type="number" class="form-control" placeholder="Porta" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Usuário</label>
                        <div class="col-lg-7">
                            <input id="usuario" type="text" class="form-control" placeholder="Usuário do banco" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-semibold">Senha</label>
                        <div class="col-lg-7">
                            <input id="senha" type="password" class="form-control" placeholder="Senha do banco" />
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                <button class="btn btn-primary" onclick="addBancoQuestor();">Salvar</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="urlAddBancoQuestor" value="@Url.Action("Add")" />
<input type="hidden" id="urlEditBancoQuestor" value="@Url.Action("Edit")" />
<input type="hidden" id="urlIndexBancoQuestor" value="@Url.Action("Index")" />

<script type="text/javascript">
    var idBancoQuestor = "";
    var bancoPadrao = false;
    function modalBancoQuestor(objeto) {
        if (objeto !== null) {
            const bancoQuestor = JSON.parse(objeto);
            idBancoQuestor = bancoQuestor.Id;
            bancoPadrao = bancoQuestor.Padrao;
            $("#endereco").val(bancoQuestor.Endereco);
            $("#caminho").val(bancoQuestor.Caminho);
            $("#porta").val(bancoQuestor.Porta);
            $("#usuario").val(bancoQuestor.Usuario);
            $("#senha").val(bancoQuestor.Senha);
        }

        $("#bancoquestor-modal").modal("show");
        mensagemTitulo(idBancoQuestor, "tituloBancoQuestor", "Conexão Questor");
    }

    function addBancoQuestor() {
        var url = $("#urlAddBancoQuestor").val();
        var urlIndex = $("#urlIndexBancoQuestor").val();

        const endereco = $("#endereco").val();
        const caminho = $("#caminho").val();
        const porta = $("#porta").val();
        const usuario = $("#usuario").val();
        const senha = $("#senha").val();

        var bancoQuestor = { Endereco: endereco, Caminho: caminho, Porta: porta, Usuario: usuario, Senha: senha };
        var mensagem = "Adicionado!";
        if (idBancoQuestor !== "") {
            url = $("#urlEditBancoQuestor").val();
            bancoQuestor = { Id: idBancoQuestor, Endereco: endereco, Caminho: caminho, Porta: porta, Usuario: usuario, Senha: senha, Padrao: bancoPadrao };
            mensagem = "Atualizado!";
        }
        idBancoQuestor = "";
        bancoPadrao = false;
        $.ajax({
            url: url,
            data: bancoQuestor,
            dataType: "json",
            type: "post",
            success: function (result) {
                if (result) {
                    window.location = urlIndex + "?success=" + mensagem;
                } else {
                    window.location = urlIndex + "?error=Registro inválido!";
                }
            }
        });
    }
</script>